<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/83613a27-3e49-4b14-9f5b-69867a736c35/resourceGroups/VisualStudioOnline-A3A6E239C0A34462AAE0500197B35331/providers/Microsoft.Web/sites/ingsoftware</ResourceId>
    <ResourceGroup>VisualStudioOnline-A3A6E239C0A34462AAE0500197B35331</ResourceGroup>
    <ApiResourceId>/subscriptions/83613a27-3e49-4b14-9f5b-69867a736c35/resourceGroups/VisualStudioOnline-71F13371143B40A1840265EA5C565217/providers/Microsoft.ApiManagement/service/IngSoftwareBackendapi/apis/IngSoftwareBackend</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ingsoftware-cfbvfvgug2bvdehz.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>d773e1d8-b63a-4f3e-9c67-fe0521d64007</ProjectGuid>
    <MSDeployServiceURL>ingsoftware-cfbvfvgug2bvdehz.scm.canadacentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ingsoftware</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>